{% extends 'base.html'%}
{% load static %}

{% block content %} 

<div class="header">
    <h1 class="title">The Lifesaving Journey</h1>
    <h2 class="subtitle">Understanding the Blood Donation Process</h2>
</div>

<div class="container main">
    <div class="content">
        <h3 class="section-title">Embarking on the Journey</h3>
        <p class="section-text">The journey of blood donation begins with a simple step: registration. Volunteers, driven by a desire to make a difference, arrive at donation centers ready to offer a part of themselves to those in need. Here, they provide basic information and medical history, setting the stage for a journey that will touch the lives of countless individuals.</p>
    </div>
    
    <div class="content">
        <h3 class="section-title">Navigating the Path</h3>
        <p class="section-text">With registration complete, donors navigate the path of screening, a crucial step in ensuring the safety of both donor and recipient. Through a brief health questionnaire and physical exam, trained professionals assess the donor's eligibility, ensuring that the donation process proceeds smoothly and safely.</p>
    </div>
    
    <div class="content">
        <h3 class="section-title">Giving the Gift of Life</h3>
        <p class="section-text">As the journey progresses, donors find themselves at the heart of the process: the donation itself. With a sense of purpose and determination, they offer their arm, allowing a sterile needle to draw forth the gift of life. In a matter of minutes, a single donation can yield precious units of blood, each one destined to bring hope and healing to those in need.</p>
    </div>
    
    <div class="content">
        <h3 class="section-title">Rest, Refresh, and Rejoice</h3>
        <p class="section-text">Following donation, donors embark on a journey of rest and rejuvenation. Here, they are encouraged to rest, hydrate, and enjoy light snacks, replenishing their bodies and spirits after their selfless act. It's a moment to reflect on the impact of their contribution and celebrate the lives they have touched.</p>
    </div>
    
    <div class="content">
        <h3 class="section-title">Beyond the Donation</h3>
        <p class="section-text">Yet, the journey of blood donation extends far beyond the walls of the donation center. It's a journey of advocacy, of spreading awareness and inspiring others to join in the cause. It's a journey of commitment, of returning regularly to donate, ensuring a steady supply of blood for those in need. And, above all, it's a journey of hope, of standing together as a community, united in the shared mission of saving lives, one drop at a time.</p>
    </div>
</div>


{% endblock %}